report/*.log
report/*.fls
report/*.pdf
report/*.gz
report/*.aux
report/*.out
report/*.toc
report/*.fdb_latexmk
report/*.synctex.gz
report/*.synctex(busy)
report/*.bbl
report/*.bcf
report/*.blg
report/*.run.xml
*.obj
*.exe
*.ilk
*.pdb
*.idb
.vscode