*.log
*.fls
*.gz
*.aux
*.out
*.toc
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.bcf
*.blg
*.run.xml
*.obj
*.exe
*.ilk
*.pdb
*.idb
*.sln
*.suo
*.user
*.csproj
*.json
*.scc
*.ncb
*.sdf
*.opensdf
*.cache
*.props
*.target
*.userprefs
*.sln
.venv
.vscode
